html {
    font-size: 100%; /* 16px */
    scroll-behavior: smooth;
}

body {
    color: #24292e;
    font-family: "Montserrat","Helvetica Neue",Arial,"Hiragino Kaku Gothic ProN","Hiragino Sans",Meiryo,sans-serif;
}

a {
    text-decoration: none;
}

p {
    font-size: 1.3rem;
}

img {
    max-width: 100%;
}

li {
    list-style: none;
    font-size: 1.2rem;
}

.wrapper {
    max-width: 960px;
    margin: 0 auto 130px auto;
    font-size: 0.9rem;
    padding: 0 4%;
}

.sec-title {
    font-size: 1.5rem;
    text-align: center;
    margin-bottom: 65px;
}

.site-title {
    line-height: 1px;
    font-weight: 600;
    font-size: 2.4rem;
}

.site-title a {
    color: #24292e;
}


/* ヘッター */
#header {
    max-width: 960px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    padding: 0 4%;
    height: 100px;
}

#header ul {
    display: flex;
    padding: 10px 0;
    align-items: center;
}

#header ul li {
    font-size: 0.9rem;
    margin-left: 30px;
}

#header ul li a {
    color: #24292e;
    position: relative;
    transition: all 0.3s;
}

#header ul li a:hover {
    text-decoration: underline;
    opacity: 0.5;
}

#header li img.icon {
    width: 30px;
    transition: all 0.3s;
}

#header li img.icon:hover {
    transform: scale(1.2);
}


/* メイン */
#main {
    margin-bottom: 80px;
}

#main img {
    width: 100%;
    max-width: 1920px;
    height: 400px;
    object-fit: cover;
}

#main p {
    text-align:right;
    font-size: 0.8rem;
    padding-right: 10px;
}

#main a {
    color: #24292e;
}


/* アバウト */
#about ul {
    margin-bottom: 30px;
}

#about ul li:first-child {
    margin-bottom: 30px; 
}

#about ul li {
    margin-bottom: 3px;
}

#about ul li a {
    color: #24292e;
}

.cont-rink {
    padding-top: 10px;
    transition: all 0.2s;
}

.cont-rink a {
    transition: all 0.2s;
}

.cont-rink a:hover {
    opacity: 0.6;
}

/* ワークス */
#works ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between ;
    margin-bottom: 50px;
}

#works ul li {
    width: 31%;
    margin-bottom: 23px;
}

#works ul li img {
    cursor: pointer;
    transition: all 0.3s;
}

#works ul li img:hover {
    transform: scale(1.2, 1.2);
    opacity: 0.7;;
}


/* ニュース */
#news dl {
    display: flex;
    flex-wrap: wrap;
    border-top: 1px solid #c8c8c8;
    margin-bottom: 20px;
}

#news dt {
    width: 20%;
    border-bottom: 1px solid #c8c8c8;
    padding: 15px;
}

#news dd {
    width: 80%;
    border-bottom: 1px solid #c8c8c8;
    padding: 15px;
}


/* コンタクト */
#contact p {
    text-align: center;
    margin-bottom: 20px;
}

#contact p a {
    color: #24292e;
    font-size: 1.1rem;
}

#contact dl {
    display: flex;
    flex-wrap: wrap;
}

#contact dt {
    width: 15%;
    margin-bottom: 10px;
}

#contact dd {
    width: 85%;
    margin-bottom: 10px;
}

#contact dd input,
#contact dd textarea {
    width: 100%;
    border: 1px solid #c8c8c8;
    padding: 10px;
}

#contact dd textarea {
    height: 10rem;
}

#contact .button {
    text-align: center;
}

#contact .button input {
    border: 1px solid #24292e;
    background-color: #24292e;
    width: 200px;
    padding: 15px 0;
    color: #fff;
    transition: all 0.3s;
}

#contact .button input:hover {
    background-color: #fff;
    color: #24292e;
}


/* QRimg */
.QRimg {
    width: 100px;
    margin: auto;
    display: block;
    transition: all 0.3s;
}


/* ページトップに戻る */
.pagetop {
	color: #fff;
	background-color: rgba(0,0,0,0.3);
	text-decoration: none;
	display: none;
	position: fixed;
	bottom: 1rem;
	right: 1rem;
	font-size: 1.5rem;
	width: 3.3rem;
	height: 3.3rem;
	line-height: 3.3rem;
	border-radius: 3.3rem;
	text-align: center;
	cursor: pointer;
    transition: all 0.2s;
}

.pagetop:hover {
	color: #fff !important;
	background-color: #7b68ee;
	text-decoration: none;
    transform: scale(1.1);
    opacity: 0.5;
}


/* フッター */
  
.footer {
    padding: 1rem;
    color: #999;
    border-top: 1px solid #e5e7eb;
}

.footer a {
    font-size: 0.9rem;
    color: #24292e;
    transition: all 0.3s;
}

.copyright {
    padding-right: 55px;
    font-size: 1rem;
}

.footer a:hover {
    color: #000;
    opacity: 0.5;
    text-decoration: underline;
}
  
@media (min-width: 768px) {
    .footer {
      display: flex;
      justify-content: space-between;
    }
  
    .md-flex {
      display: flex;
    }
  
    .md-flex li + li {
      margin-left: 16px;
    }
  }

/* スマートフォン用 */
@media screen and (max-width: 600px) {
    .site-title {
        margin-top: 20px;
    }

    /* ヘッター */
    #header {
        flex-direction: column;
        height: auto;
        line-height: 40px;
        margin-top: 20px;
    }

    #header li {
        font-size: 0.8rem;
        margin-left: 20px;
    }

    #header li img.icon {
        width: 20px;
        margin-top: 15px;
    }

    #main {
        margin-bottom: 80px;
    }
    
    #main img {
        width: 100%;
        max-width: 1920px;
        height: 200px;
        object-fit: cover;
    }

    /* ワークス */
    #works ul {
        flex-direction: column;
    }

    #works ul li {
        width: 100%;
    }

    /* ニュース */
    #news dl {
        flex-direction: column;
    }

    #news dt {
        width: 100%;
        border-bottom: none;
        padding-bottom: 0;
    }

    #news dd {
        width: 100%;
        padding-top: 0;
    }

    /* コネクト */
    #contact dl {
        flex-direction: column;
    }

    #contact dt {
        width: 100%;
        margin-bottom: 10px;
    }

    #contact dd {
        width: 100%;
    }
}
